root: true

extends:
  - eslint:recommended

env:
  es6: true
  node: true
  browser: true

parserOptions:
  ecmaVersion: 2017
  sourceType: script

rules:
   yoda: [error, never, { exceptRange: true }]
   no-console: off
   no-debugger: off
